consider the below given data and write the commands for the following (the output to display a single value)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.DataFrame({'Qty1':[30,40,60,70], 'Qty2':[30,90,40,50], 'Qty3':[60,40,30,50]})
df

   Qty1  Qty2  Qty3
0    30    30    60
1    40    90    40
2    60    40    30
3    70    50    50

In [18]:
np.multiply(df.Qty1, df.Qty2)

0     900
1    3600
2    2400
3    3500
dtype: int64

In [31]:
np.dot()

TypeError: dot() missing 1 required positional argument: 'other'

In [30]:
df.prod(axis=1)

0      810000
1    12960000
2     5760000
3    12250000
dtype: int64

In [21]:
df.Qty1*df.Qty2*df.Qty3

0      810000
1    12960000
2     5760000
3    12250000
dtype: int64

In [34]:
df.mean()

Qty1      50.0
Qty2      52.5
Qty3    2600.0
dtype: float64

## 1. find the mean of middle row / row 2

In [3]:
df.loc[2].mean()

43.333333333333336

## 2. add a column (Qty4) to the table (sum of previous three columns)

In [4]:
df['Qty1'] + df['Qty2']

0     60
1    130
2    100
3    120
dtype: int64

In [5]:
Qty4 = df.sum(axis=1)

In [6]:
df['Qty4'] = Qty4
df

   Qty1  Qty2  Qty3  Qty4
0    30    30    60   120
1    40    90    40   170
2    60    40    30   130
3    70    50    50   170

## 3. count the number of values in Qty4 which is more than 175

In [9]:
len(df.loc[df.Qty4 > 130])

2