In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#import seaborn as sns

In [3]:
plt.rc("font", size=14)

#sns.set(style="white")
#sns.set(style="whitegrid", color_codes=True)

In [4]:
data=pd.read_csv(r"https://raw.githubusercontent.com/madmashup/targeted-marketing-predictive-engine/master/banking.csv",header=0)
data=data.dropna()

In [5]:
print(data.shape)

(41188, 21)

In [6]:
print(list(data.columns))

['age', 'job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays', 'previous', 'poutcome', 'emp_var_rate', 'cons_price_idx', 'cons_conf_idx', 'euribor3m', 'nr_employed', 'y']

In [7]:
data.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y
0,44,blue-collar,married,basic.4y,unknown,yes,no,cellular,aug,thu,...,1,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,0
1,53,technician,married,unknown,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.021,5195.8,0
2,28,management,single,university.degree,no,yes,no,cellular,jun,thu,...,3,6,2,success,-1.7,94.055,-39.8,0.729,4991.6,1
3,39,services,married,high.school,no,no,no,cellular,apr,fri,...,2,999,0,nonexistent,-1.8,93.075,-47.1,1.405,5099.1,0
4,55,retired,married,basic.4y,no,yes,no,cellular,aug,fri,...,1,3,1,success,-2.9,92.201,-31.4,0.869,5076.2,1

In [8]:
data['education'].unique()

array(['basic.4y', 'unknown', 'university.degree', 'high.school',
       'basic.9y', 'professional.course', 'basic.6y', 'illiterate'],
      dtype=object)

In [9]:
data['education']=np.where(data['education'] =='basic.9y', 'Basic', data['education'])
data['education']=np.where(data['education'] =='basic.6y', 'Basic', data['education'])
data['education']=np.where(data['education'] =='basic.4y', 'Basic', data['education'])

In [10]:
data['y'].value_counts()

0    36548
1     4640
Name: y, dtype: int64

In [14]:
#sns.countplot(x='y',data=data,palette='hls')

plt.show()
plt.savefig('count_plot')

In [15]:
count_no_sub = len(data[data['y']==0])
count_sub = len(data[data['y']==1])
pct_of_no_sub = count_no_sub/(count_no_sub+count_sub)

print("percentage of no subscription is", pct_of_no_sub*100)
pct_of_sub = count_sub/(count_no_sub+count_sub)

print("percentage of subscription", pct_of_sub*100)
print(data.groupby('y').mean())
data.groupby('y').mean()

y = data['y']
x = data['duration']

#sns.regplot(x=x,y=y,data=data,logistic=True,ci=None)

percentage of no subscription is 88.73458288821988
percentage of subscription 11.265417111780131
         age    duration  campaign       pdays  previous  emp_var_rate  \
y
0  39.911185  220.844807  2.633085  984.113878  0.132374      0.248875
1  40.913147  553.191164  2.051724  792.035560  0.492672     -1.233448

   cons_price_idx  cons_conf_idx  euribor3m  nr_employed
y
0       93.603757     -40.593097   3.811491  5176.166600
1       93.354386     -39.789784   2.123135  5095.115991

In [16]:
plt.show()