In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('NDTV.NS (4).csv')
df.head()

         Date       Open       High        Low      Close  Adj Close  Volume
0  2015-09-16  92.500000  92.500000  90.500000  91.349998  91.349998   20762
1  2015-09-18  92.199997  93.000000  90.250000  90.949997  90.949997   66296
2  2015-09-21  90.300003  92.500000  90.050003  91.150002  91.150002   36083
3  2015-09-22  90.550003  92.300003  87.000000  87.900002  87.900002   62230
4  2015-09-23  88.000000  94.699997  82.800003  89.050003  89.050003  615823

In [3]:
df.shape

(1726, 7)

In [11]:
df.columns.get_loc('Close')

4

In [18]:
till_40 = list(df.iloc[:40, df.columns.get_loc('Close')])
len(till_40)

40

In [22]:
from_60_to_70 = list(df.iloc[60:70, df.columns.get_loc('Close')])
len(from_60_to_70)

10

In [23]:
from_90_to_100 = list(df.iloc[90:100, df.columns.get_loc('Close')])
len(from_90_to_100)

10

# Voila!